
@media only screen and (min-width: 1536px) {
    .container {
        max-width: 80%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1535px)  {
    .container {
        max-width: 90%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 650px){
    .container {
        max-width: 100% !important;
    }
}